In [1]:
import pandas as pd
import urllib.request

In [2]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
column_names = ["Sepal_Length", "Sepal_Width", "Petal_Length", "Petal_Width", "Class"]
iris = pd.read_csv(url, names=column_names)

In [3]:
iris.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
iris.head() 
iris.tail() 
iris.index 
iris.columns 
iris.shape 
iris.dtypes 
iris["Sepal_Length"] 
iris.iloc[5] 
iris[0:3] 
iris.loc[:,["Sepal_Length","Sepal_Width"]] 
iris.iloc[:5,:] 
iris.iloc[:,:5] 
iris.iloc[:5,:5]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
iris.isnull().any()

Sepal_Length    False
Sepal_Width     False
Petal_Length    False
Petal_Width     False
Class           False
dtype: bool

In [6]:
iris.isnull().sum() 
iris.isnull().sum().sum()

0

In [7]:
iris.isnull().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
145    0
146    0
147    0
148    0
149    0
Length: 150, dtype: int64

In [8]:
iris.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal_Width     float64
Class            object
dtype: object

In [9]:
iris["Petal_Length"] = iris["Petal_Length"].astype('int') 
iris.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width        Class
0           5.1          3.5             1          0.2  Iris-setosa
1           4.9          3.0             1          0.2  Iris-setosa
2           4.7          3.2             1          0.2  Iris-setosa
3           4.6          3.1             1          0.2  Iris-setosa
4           5.0          3.6             1          0.2  Iris-setosa

In [ ]:
from sklearn import datasets  
df = pd.DataFrame(iris) 
df.head()